<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If an existing asset or directory is requested, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Otherwise, fallback to Nuxt's 200.html for Vue router to take over
  RewriteRule . /200.html [L]
</IfModule>
